
<body>
    <div class="screen-overlay"></div>
    
    <main class="main-wrap">
        
        <section class="content-main">
           
                        <form  action="/admin/addcategory"  method="post">

                            <div class="row">
                                <div class="col-6">
                                    <div class="content-header">
                                        <h2 class="content-title">Add New Category</h2>
                                        <div>
                                           
                                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>1. Category</h6>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="mb-4">
                                                        <label class="form-label">Enter your Category </label>
                                                        <input type="text" placeholder="Type here" name="category" class="form-control">
                                                    </div>
                                                    
                                                    <div class="mb-4">
                                                        <label class="form-label">Category</label>
                                                        <select class="form-select">
                                                            <option> Iphone </option>
                                                            <option> Watches </option>
                                                            <option>ipad</option>
                                                        </select>
                                                    </div>
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            
                                           
                                      <!-- .row end// -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
                        
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
