
<body>
    <div class="screen-overlay"></div>
    
    <main class="main-wrap">
        
        <section class="content-main">
           
                        <form  action="/admin/newcoupon"  method="post">

                            <div class="row">
                                <div class="col-6">
                                    <div class="content-header">
                                        <h2 class="content-title">Add New Coupon</h2>
                                        <div>
                                           <input type="submit" class="btn btn-light rounded font-sm mr-5 text-body hover-up" value="Save ">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>1.Generate Coupon Id</h6>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="mb-4">
                                                        <label class="form-label">Coupon id</label>
                                                        <input type="text" placeholder="Type here" name="id" class="form-control">
                                                    </div>
                                                    
                                                   
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <hr class="mb-4 mt-0">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>2. Expire Date</h6>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="mb-4">
                                                        <label class="form-label">Date</label>
                                                        <input type="date" placeholder="rs00.0" name="date" class="form-control">
                                                    </div>
                                                </div> <!-- col.// -->
                                            </div> 
                                            <hr class="mb-4 mt-0">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>3.Offer in %</h6>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="mb-4">
                                                        <label class="form-label">% offer</label>
                                                        <input type="text" placeholder="" name="percentage" class="form-control">
                                                    </div>
                                                </div> <!-- col.// -->
                                            </div>
                                            <hr class="mb-4 mt-0">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h6>4.max offer</h6>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="mb-4">
                                                        
                                                        <input type="text" placeholder="" name="maxoffer" class="form-control">
                                                    </div>
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <hr class="mb-4 mt-0">
                                            <!-- row.// -->
                                            <hr class="mb-4 mt-0">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
                        
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
